/* @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2'),
             url('/fonts/Inter.woff') format('woff');
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
} */